.car-details-page {
  margin-top: 100px;
  padding: 100px 180px;
  display: flex;
  flex-direction: column;
  gap: 50px;

  &__container {
    display: grid;
    grid-template-columns: 1fr 30%;
    gap: 30px;
  }
}

@media screen and (max-width: 1440px) {
  .car-details-page {
    padding: 70px 100px;
  }
}

@media screen and (max-width: 1024px) {
  .car-details-page {
    padding: 60px 30px;

    &__container {
      grid-template-columns: 1fr 40%;
    }
  }
}

@media screen and (max-width: 768px) {
  .car-details-page {
    margin-top: 70px;
    &__container {
      grid-template-columns: 1fr;
    }
  }
}

@media screen and (max-width: 550px) {
  .car-details-page {
    padding: 50px 20px;

    &__container {
      gap: 30px;
    }
  }
}
