.car-section {
  padding: 70px 180px;

  display: flex;
  flex-direction: column;
  gap: 20px;

  h3 {
    font-size: 48px;
  }

  &__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    gap: 50px;
  }
}

@media screen and (max-width: 1440px) {
  .car-section {
    padding: 70px 30px;

    &__list {
      gap: 30px;
    }
  }
}

@media screen and (max-width: 1024px) {
  .car-section {
    padding: 60px 30px;

    h3 {
      font-size: 42px;
    }

    &__list {
      grid-template-columns: 1fr 1fr 1fr;
      gap: 30px;
    }
  }
}

@media screen and (max-width: 868px) {
  .car-section {
    padding: 60px 30px;

    h3 {
      font-size: 42px;
    }

    &__list {
      grid-template-columns: 1fr 1fr;
      gap: 30px;
    }
  }
}

@media screen and (max-width: 650px) {
  .car-section {
    padding: 50px 30px;

    h3 {
      font-size: 32px;
    }

    &__list {
      grid-template-columns: 1fr;
      gap: 20px;
    }
  }
}
