@import "../../shared/variables.scss";

.inputWithLabel-light,
.inputWithLabel-dark {
  display: flex;
  flex-direction: column;
  gap: 8px;

  label {
    padding: 0 5px;
    font-weight: 500;
    color: black;
    span {
      color: rgb(190, 0, 0);
    }
  }

  input {
    height: 50px;
    padding: 10px;
    border-radius: $radius;
    border: $border;
    font-size: 18px;
  }
}

.inputWithLabel-light {
  label {
    color: black;
  }

  input {
    background-color: $light-gray;
    color: black;
  }
}

.inputWithLabel-dark {
  label {
    color: white;
  }

  input {
    background-color: $dark;
    color: white;
  }
}
