@import "../../shared/variables.scss";

.inputWithLabel {
  display: flex;
  flex-direction: column;
  gap: 8px;

  label {
    padding: 0 5px;
    font-weight: 500;
    span {
      color: rgb(190, 0, 0);
    }
  }

  input {
    height: 50px;
    padding: 10px;
    border-radius: $radius;
    border: $border;
    background-color: $light-gray;
  }
}
