.navbar {
  padding: 0 100px;
  height: 100px;
  width: 100%;
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: 0.3s;

  &__logo {
    height: 100%;
    width: fit-content;
  }

  &__logo-sm {
    display: none;
    height: 80%;
    width: fit-content;
  }

  &-actions {
    display: flex;
    gap: 10px;
  }

  &__pages {
    display: flex;
    align-items: center;
    gap: 100px;
    margin-right: 20px;

    li {
      a {
        color: white;
        font-weight: 600;
        font-size: 18px;
      }
    }
  }
}

.nav-scroll {
  background-color: #fff;
  transition: 0.3s;
}

.pages-scroll {
  li {
    a {
      color: black;
    }
  }
}

@media screen and (max-width: 1024px) {
  .navbar {
    padding: 0 30px;

    &__pages {
      display: none;
    }
  }
}

@media screen and (max-width: 768px) {
  .navbar {
    padding: 0 30px;
    height: 70px;

    &__logo {
      display: none;
    }

    &__logo-sm {
      display: block;
    }

    &__message {
      display: none;
    }

    &__pages {
      display: none;
    }
  }
}
