$charcoal: #264653;
$reseda: #6b8f86;
$celadon: #aad2ba;
$mint: #d9fff5;
$celadon-light: #b9f5d8;
$light-gray: #f5f5f574;

$border: 1px solid rgba(0, 0, 0, 0.2);
$shadow: 0 0 5px rgba(0, 0, 0, 0.2);
$clip-big: polygon(5% 0%, 100% 0%, 95% 100%, 0% 100%);
$clip-small: polygon(10% 0%, 100% 0%, 90% 100%, 0% 100%);
$radius: 10px;
