@import "../../../shared/variables.scss";

.navbar-home,
.navbar {
  padding: 0 100px;
  height: 100px;
  width: 100%;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  border-bottom: $border;

  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: 0.3s;

  &__logo {
    height: 100%;

    img {
      height: 100%;
      width: fit-content;
    }
  }

  &__logo-sm {
    display: none;
    height: 100%;
    img {
      height: 80%;
      width: fit-content;
    }
  }

  &__actions {
    display: flex;
    gap: 10px;
  }

  &__pages {
    display: flex;
    align-items: center;
    gap: 100px;
    margin-right: 20px;

    li {
      a {
        color: white;
        font-weight: 600;
        font-size: 18px;
      }
    }
  }
}

.navbar {
  background-color: #fff;

  &__pages {
    display: flex;
    align-items: center;
    gap: 100px;
    margin-right: 20px;

    li {
      a {
        color: black;
        font-weight: 600;
        font-size: 18px;
      }
    }
  }
}

.navbar-home {
  border-bottom: none;
}

.nav-scroll {
  background-color: #fff;
  transition: 0.3s;
}

.pages-scroll {
  li {
    a {
      color: black;
    }
  }
}

@media screen and (max-width: 1024px) {
  .navbar,
  .navbar-home {
    padding: 0 30px;

    &__pages {
      display: none;
    }
  }
}

@media screen and (max-width: 768px) {
  .navbar,
  .navbar-home {
    padding: 0 30px;
    height: 70px;

    &__logo {
      display: none;
    }

    &__logo-sm {
      display: flex;
      align-items: center;
    }

    &__message {
      display: none;
    }

    &__pages {
      display: none;
    }
  }
}
