@import "../../../shared/variables.scss";

.admin-cars-page {
  display: flex;
  flex-direction: column;
  gap: 30px;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    a {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  &__actions {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &__params {
    height: 40px;
    padding: 0 10px;
    display: grid;
    align-items: center;
    grid-template-columns: 50px 50px 1fr 1fr 1fr 1fr 1fr;

    li {
      font-weight: 500;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 20px;

    ul {
      height: 80px;
      padding: 20px 10px;
      display: grid;
      align-items: center;
      grid-template-columns: 50px 50px 1fr 1fr 1fr 1fr 1fr;
      border: 2px solid white;
      border-radius: $radius;
    }
  }
}
