.admin-layout {
  display: grid;
  grid-template-columns: 310px 1fr;

  &__container {
    min-height: 100vh;
    height: 100%;
    padding: 50px 30px;
    background-color: #111;
    color: white;
  }
}
